* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main{
    padding: 4rem;
}
.p{
    padding: 1rem;
}
.container {
    width: 100%;
    height: 100%;
    max-width: 1320px;
    padding: 0 1rem;
    margin-left: auto;
    margin-right: auto;
}
.pack{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.package {
    padding: 1rem;
    border: 1px solid gray;
    border-radius: 0.5rem;
}
.package img {
    width:300px;
}
.package p {
    font-size: 0.9rem;
}
.pack{
    padding: 1rem;
}
img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.section {
    padding: 1rem;
}
.contact{
    padding: 2rem;
}


.blue{
    padding: 3rem;
    
}
.reach{
    padding: 2rem;
}
.contacting {
    background-color: lightgray;
}
.park{
    padding: 1rem;
}

@media  only screen and (min-width: 576px) {
    .pack {
        display: grid;
        grid-template-columns: 1fr   ;
    }
    }
    @media  only screen and (min-width: 768px) {
        .pack
        {
            grid-template-columns: 1fr 1fr  ;
        }
        @media  only screen and (min-width: 992px) {
            .pack
            {
                grid-template-columns: 1fr 1fr 1fr  ;
            }
            
        }